<form action="/square_root/results">
  <div>
    <label for="number_entered">Enter a number</label>
  </div>
  <div>
    <input id="number_entered" placeholder="Number to calculate" type="text" name="input_number">
  </div>
  <div>
    <button>Calculate square root</button>
  </div>

</form>