<form action="/square/results">
  <div>
    <label for="number_entered">Enter a number</label>
  </div>
  <div>
    <input id="number_entered" placeholder="Number to square" type="text" name="input_number">
  </div>
  <div>
    <button>Calculate square</button>
  </div>

</form>